.box{
	width:800px;
	height:450px;
	border:1px #999 dashed;
	margin:10px auto;
	position:relative;
	perspective:2000px;
	transform-style:preserve-3d;
}
.left,.right{
	width:400px;
	height:450px;
	position:absolute;
	top:0;
}

.left{
	left:0;
}
.right{
	right:0;
}
.container{
	width:140px;
	height:240px;
	left:50%;
	margin-left:-70px;
	top:50%;
	margin-top:-180px;
	position:relative;
	transform-style:preserve-3d;
	transform: rotateX(-20deg);
	transform-origin:center center;
}
.block{
	width:150px;
	height:250px;
	position: absolute;
	left: 0;
	top: 0;
	background-size:cover;
}

#nav{
	width:700px;
	height:120px;
	margin-left:300px;
	margin-top:20px;
}

#nav > li{
	width:120px;
	height:120px;
	float:left;
	background:url(../IMG/circle.png) no-repeat;
	background-size:cover;
	margin-right:20px;
	
}
#nav > li > a {
	text-align:center;
	line-height:120px;
	font-size:20px;
	color:grey;
	display: block;
	transition:0.5s;
}
#nav > li:hover > a{
	transform:rotate(20deg);
	color:#906;
}
